[submodule "lm-evaluation-harness"]
	path = libs/lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness.git
[submodule "libs/libs/transformers"]
	path = libs/transformers
	url = https://github.com/zhy617/transformers.git
